<!-- frame -->
<div id="frame">
  <div class="header_banner">
    <div class="banner1">&nbsp;</div>
    <div class="banner2">&nbsp;</div>
    <div class="banner3">&nbsp;</div>
    <div class="banner4">&nbsp;</div>
    <div class="banner5">&nbsp;</div>
  </div>
  <div id="content_inner">
    <div class="food_content" id="floor_1">
      <div class="food_title"><span><a class="title_more" href="#" target="_blank"></a></span></div>
      <div class="food_list">
        <ul>
          <li><a href="#" target="_blank"><img src="./build/css/images/Specialties_banner_17.jpg" width="185" height="185"></a>
            <div class="pro_Price"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
              <span>Price：$12.95</span></div>
            <div><a class="buynow" href="#" target="_blank"></a></div>
          </li>
  
        </ul>
      </div>
    </div>
    <div class="food_content" id="floor_2">
      <div class="Costumes_title"><span><a class="title_more" href="#" target="_blank"></a></span></div>
      <div class="food_list">
        <ul>
          <li><a href="#" target="_blank"><img src="./build/css/images/Specialties_banner_17.jpg" width="185" height="185"></a>
            <div class="pro_Price"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
              <span>Price：$12.95</span></div>
            <div><a class="buynow" href="#" target="_blank"></a></div>
          </li>
 
        </ul>
      </div>
    </div>
    <div class="food_content" id="floor_3">
      <div class="Artware_title"><span><a class="title_more" href="#" target="_blank"></a></span></div>
      <div class="food_list">
        <ul>
          <li><a href="#" target="_blank"><img src="./build/css/images/Specialties_banner_17.jpg" width="185" height="185"></a>
            <div class="pro_Price"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
              <span>Price：$12.95</span></div>
            <div><a class="buynow" href="#" target="_blank"></a></div>
          </li>        
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- frame end-->
<script src="./data/data.js" charset="utf-8"></script>
<script src="./app.js" charset="utf-8"></script>
<script>
    $(function() {
        FloorList(productData);
    });
</script>