<!-- frame -->
<div id="frame">
  <div class="header_banner">
    <div class="banner1">&nbsp;</div>
    <div class="banner2">&nbsp;</div>
    <div class="banner3">&nbsp;</div>
    <div class="banner4">&nbsp;</div>
    <div class="banner5">&nbsp;</div>
    <div class="banner6">&nbsp;</div>
  </div>
  <div id="content_inner">
    <div class="Sports_content" id="floor_1">
    <div class="Sportswear_title"><a href="#" title="more >>" target="_blank" class="title_more Sports_more"></a></div>
      <div class="span20"></div>
      <div class="Sports_list">
      	<div class="Sports_left">
        	<ul>
            	<li class="big_thumb"><a href="#" target="_blank"><img src="./build/css/images/Animal_img1.jpg" width="330" height="430"></a>
                <div class="pro_title"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
                Price：$12.95</div>
                </li>
            </ul>
        </div>
        <div class="Sports_right">
          <ul class="small_thumb">
            <li><a href="#" target="_blank"><img src="./build/css/images/Animal_img2.jpg" width="200" height="200"></a>
              <div class="pro_Price"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
                Price：$12.95</div>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
    <div class="Sports_content" id="floor_2">
    <div class="Shoes_title"><a href="#" title="more >>" target="_blank" class="title_more Sports_more"></a></div>
      <div class="span20"></div>
      <div class="Sports_list">
      	<div class="Shoes_left">
        	<ul class="small_thumb">
            <li><a href="#" target="_blank"><img src="./build/css/images/Animal_img2.jpg" width="200" height="200"></a>
              <div class="pro_Price"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
                Price：$12.95</div>
            </li>
            
          </ul>
        </div>
        <div class="Shoes_right">
          <ul>
            	<li class="big_thumb"><a href="#" target="_blank"><img src="./build/css/images/Animal_img1.jpg" width="330" height="430"></a>
                <div class="pro_title"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
                Price：$12.95</div>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="Sports_content" id="floor_3">
    <div class="Bag_title"><a href="#" title="more >>" target="_blank" class="title_more Sports_more"></a></div>
      <div class="span20"></div>
      <div class="Sports_list">
      	<div class="Sports_left">
        	<ul>
            	<li class="big_thumb"><a href="#" target="_blank"><img src="./build/css/images/Animal_img1.jpg" width="330" height="430"></a>
                <div class="pro_title"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
                Price：$12.95</div>
                </li>
            </ul>
        </div>
        <div class="Sports_right">
          <ul class="small_thumb">
            <li><a href="#" target="_blank"><img src="./build/css/images/Animal_img2.jpg" width="200" height="200"></a>
              <div class="pro_Price"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
                Price：$12.95</div>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="Sports_content" id="floor_4">
    <div class="Accessories_title"><a href="#" title="more >>" target="_blank" class="title_more Sports_more"></a></div>
      <div class="span20"></div>
      <div class="Sports_list">
      	<div class="Shoes_left">
        	<ul class="small_thumb">
            <li><a href="#" target="_blank"><img src="./build/css/images/Animal_img2.jpg" width="200" height="200"></a>
              <div class="pro_Price"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
                Price：$12.95</div>
            </li>
           
          </ul>
        </div>
        <div class="Shoes_right">
          <ul>
            	<li class="big_thumb"><a href="#" target="_blank"><img src="./build/css/images/Animal_img1.jpg" width="330" height="430"></a>
                <div class="pro_title"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
                Price：$12.95</div>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="Sports_content" id="floor_5">
    <div class="Equipments_title"><a href="#" title="more >>" target="_blank" class="title_more Sports_more"></a></div>
      <div class="span20"></div>
      <div class="Sports_list">
      	<div class="Sports_left">
        	<ul>
            	<li class="big_thumb"><a href="#" target="_blank"><img src="./build/css/images/Animal_img1.jpg" width="330" height="430"></a>
                <div class="pro_title"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
                Price：$12.95</div>
                </li>
            </ul>
        </div>
        <div class="Sports_right">
          <ul class="small_thumb">
            <li><a href="#" target="_blank"><img src="./build/css/images/Animal_img2.jpg" width="200" height="200"></a>
              <div class="pro_Price"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
                Price：$12.95</div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame end-->
<script src="./data/data.js" charset="utf-8"></script>
<script src="./app.js" charset="utf-8"></script>
<script>
    $(function() {
        FloorList(productData);
    });
</script>